// 定义主色调
primary-color = #3d76f7             // 主颜色
light-primary-color = #2f88ff       // 亮主颜色

// 定义状态颜色
success-color = #36b777             // 成功颜色
error-color = #F95455               // 错误颜色
warn-color = orange                 // 警告颜色

// 定义其他颜色
shadow-color = #97abb93d            // 阴影颜色
border-color = #e4e9ed              // 边框颜色
back-color = #f6f6f6                // 背景颜色
blue-back = #f3f8ff                 // 蓝色背景
placeholder-color = #e3e3e3         // 占位符颜色
divider-color = #E4E8F0             // 分隔线颜色
tip-color = rgba(153,153,153,1)     // 提示文字颜色

// 定义文本颜色
primary-text-color = #333333        // 主要文本颜色
second-text-color = #666666         // 次要文本颜色
third-text-color = #999999          // 第三级文本颜色
disabled-text-color = #c1c1c1       // 禁用文本颜色
